<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
    integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">

<link rel="stylesheet" href="/stylesheets/admin-page-style.css">



<div class="container">
    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu()"></div>
            <div class="search">
                <label for="">
                    <input type="text" placeholder="Search Here">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
            </div>
            <div class="user">
                <img src="/images/login-images/prof1.svg" alt="">
            </div>
        </div>

        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers"> {{totalRevenue}}</div>
                    <div class="cardName">Revenue</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{totalProducts}}</div>
                    <div class="cardName">Total Products</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{totalCustomers}}</div>
                    <div class="cardName">Customers</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{totalOrders}}</div>
                    <div class="cardName">Total Orders</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
            </div>
        </div>


        <div class="graphBox">
            <div class="box"><canvas id="myChart"></canvas></div>
            <div class="box"><canvas id="earnings"></canvas></div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
const earnings = document.getElementById('earnings').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: ['COD', 'ONLINE'],
        datasets: [{
            label: 'Trafic Source',
            data: [{{ totalCodRevenue}} , {{totalOnlineRevenue}}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                //'rgba(255, 206, 86, 1)'
                // 'rgba(75, 192, 192, 0.2)',
                // 'rgba(153, 102, 255, 0.2)',
                // 'rgba(255, 159, 64, 0.2)'
            ],
            // borderColor: [
            //     'rgba(255, 99, 132, 1)',
            //     'rgba(54, 162, 235, 1)',
            //     'rgba(255, 206, 86, 1)'
            //     // 'rgba(75, 192, 192, 1)',
            //     // 'rgba(153, 102, 255, 1)',
            //     // 'rgba(255, 159, 64, 1)'
            // ],
            // borderWidth: 1
        }]
    },
    options: {
        responsive: true,
    }
});


var myChart = new Chart(earnings, {
    
    type: 'bar',
    data: {
        labels: ['pending','shipped','delivered','cancelled'],
        datasets: [{
            label: 'Order Status',
            data: [{{orderStatus}}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                //'rgba(153, 102, 255, 1)',
                //'rgba(255, 159, 64, 0.2)',


                //'rgba(255, 99, 132, 1)',
                //'rgba(54, 162, 235, 1)',
                //'rgba(255, 206, 86, 1)',
                //'rgba(75, 192, 192, 1)',
                //'rgba(153, 102, 255, 1)',
                //'rgba(255, 159, 64, 0.2)'
            ],
            // borderColor: [
            //     'rgba(255, 99, 132, 1)',
            //     'rgba(54, 162, 235, 1)',
            //     'rgba(255, 206, 86, 1)',
            //     'rgba(75, 192, 192, 1)',
            //     'rgba(153, 102, 255, 1)',
            //     'rgba(255, 159, 64, 1)'
            // ],
            // borderWidth: 1
        }]
    },
    options: {
        responsive:true,
        // scales: {
        //     y: {
        //         beginAtZero: true
        //     }
        // }
    }
});
</script>

<script>
    function toggleMenu() {
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');
        toggle.classList.toggle('active')
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }
</script>