<link rel="stylesheet" href="/stylesheets/admin-page-style.css">
<link rel="stylesheet" href="/stylesheets/homepagestyle.css">

<style>

    #cart table td:nth-child(5) .b1 {
    margin-right: -4px;
}


    a.normal {
        font-size: 16px;
        font-weight: 500;
        padding: 9px 8px;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        text-decoration: none;
    }

    a.b1 {
        background-color: rgb(56, 179, 19);
        padding: 9px 20px;
    }

    a.b2 {
        background-color: rgb(238, 18, 18);
    }

    #cart .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .add {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;

            {
                {
                 !-- flex-wrap: nowrap;
                --
            }
        }

            {
                {
                 !-- justify-content: end;
                --
            }
        }
    }

    .add a {
        text-decoration: none;
        background-color: rgb(56, 179, 19);
        color: #000;
    }

    .add .normal {
        padding: 9px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    #cart table tbody tr:hover {
        background: #fff;

            {
                {
                 !-- color: #fff;
                03a9f4--
            }
        }
    }

    #cart table td:nth-child(3) {
    width: 135px;
    text-align: center;
}
</style>

<div class="main">
    <div class="topbar">
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="search">
            <label for="">
                <input type="text" placeholder="Search Here">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
        </div>
        <div class="user">
            <img src="/login-images/avatar2.svg" alt="">
        </div>
    </div>


    <section id="cart" class="section-p1">
        <div class="head">
            <h2>Coupons Details</h2>
        </div>
        <div class="add"><a href="/admin/create-coupon" class="normal">Add Coupon</a></div>
        <table id="couponTable" width="100%">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Name</td>
                    <td>Code</td>
                    <td>Discount</td>
                    {{!-- <td>Catagory</td>
                    <td>stock</td>
                    <td>Price</td> --}}
                    <td>options</td>
                </tr>
            </thead>
            <tbody>
                {{#each coupons}}
                <tr>
                    <td>1.</td>
                    {{!-- <td><img src="/images/product-images/{{this._id}}/0{{this._id}}.jpg" alt=""></td> --}}
                    <td>{{this.name}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.discount}} %</td>
                    {{!--<td>{{this.Stoke}}</td>
                    <td>${{this.Price}}</td> --}}
                    <td>
                        <a href="/admin/edit-coupon/{{this._id}}" class=" normal b1 ">Edit</a>
                        <a href="/admin/delete-coupon/{{this._id}}" class="normal b2 ">Delete</a>
                    </td>
                </tr>
                {{/each}}
                {{!-- <tr>
                    <td>1.</td>
                    <td><img src="/images/products/n1.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-shirts</td>
                    <td>smartphone</td>
                    <td>2000</td>
                    <td>$118.19</td>
                    <td>
                        <button class="b1 normal">Edit</button>
                        <button class=" b2 normal">Delete</button>
                    </td>
                </tr> --}}

            </tbody>
        </table>
    </section>

</div>

<script>
    $(function () {
        $('#couponTable').DataTable();
    });
</script>