

<section id="page-header" class="about-header">
    <h2>#Edit product</h2>
    {{!-- <p>LEAVE A MESSAGE,We love to hear from you!</p> --}}
</section>

<section class="section-p2">
    <div class="section-m1 main">
        <form class="addform" action="/admin/edit-product1/{{product._id}}" method="post" enctype="multipart/form-data">
            <div class="s1">
            <div class="s2">
            <label for="">product name</label>
            <input type="text" name="Name" value="{{product.Name}}">
            <label for="">Catagory</label>
            <select id="" name="Catagory">
                <option value="select">{{product.Catagory}}</option>
                <option value="smartphone">smartphone</option>
                <option value="laptop">laptop</option>
            </select>
            <label for="">brand</label>
            <input type="text" name="brand" value="{{product.brand}}">
            <label for="">stoke</label>
            <input type="number" name="Stoke" value="{{product.Stoke}}">
            <label for="">Price</label>
            <input type="number" name="Price" value="{{product.Price}}">
            </div>
            <div class="s3">
            <label for="" class="des">Description</label>
            <ul class="wd">
                <li><input type="text" name="Description1" value="{{product.Description1}}"></li>
                <li><input type="text" name="Description2" value="{{product.Description2}}"></li>
                <li><input type="text" name="Description3" value="{{product.Description3}}"></li>
                <li><input type="text" name="Description4" value="{{product.Description4}}"></li>
                <li><input type="text" name="Description5" value="{{product.Description5}}"></li>
            </ul>
            </div>
            </div>
            <div class="addimg">
            <label for="">image</label>
            <img src="/images/product-images/{{product._id}}/0{{product._id}}.jpg" id="imgView0" style="width: 100px;height: auto;">
            <input type="file" name="image" onchange="viewImage0(event)">
            <label for="">subimage</label>
            <div>
                <img src="/images/product-images/{{product._id}}/1{{product._id}}.jpg" id="imgView1" style="width: 100px;height: auto;">
                <img src="/images/product-images/{{product._id}}/2{{product._id}}.jpg" id="imgView2" style="width: 100px;height: auto;">
                <img src="/images/product-images/{{product._id}}/3{{product._id}}.jpg" id="imgView3" style="width: 100px;height: auto;">
            </div>
            <input type="file" name="image" onchange="viewImage1(event)">
            <input type="file" name="image" onchange="viewImage2(event)">
            <input type="file" name="image" onchange="viewImage3(event)">
            </div>
            <div class="subbtn">
            <button type="submit">submit</button>
            </div>
        </form>
    </div>
</section>

<script>
    function viewImage0(event){
        document.getElementById('imgView0').src = URL.createObjectURL(event.target.files[0])
    }
    function viewImage1(event){
        document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
    }
    function viewImage2(event){
        document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
    }
    function viewImage3(event){
        document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
    }
</script>