<link rel="stylesheet" href="/stylesheets/admin-page-style.css">
<link rel="stylesheet" href="/stylesheets/homepagestyle.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<style>
    h2 {
        font-size: 40px;
        line-height: 54px;
        color: #222;
    }


    a.normal {
        font-size: 16px;
        font-weight: 500;
        padding: 9px 8px;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        text-decoration: none;
    }

    a.b1 {
        background-color: rgb(56, 179, 19);
        padding: 9px 20px;
    }

    a.b2 {
        background-color: rgb(238, 18, 18);
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .add {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }

    .add a {
        text-decoration: none;
        background-color: rgb(56, 179, 19);
        color: #000;
    }

    .add .normal {
        padding: 9px 16px;
        border-radius: 4px;
        cursor: pointer;
    }


    #cart table td:nth-child(1) {
        width: 25px;
        text-align: center;
    }

    #cart table td:nth-child(2) {
        width: 150px;
        text-align: center;
    }

    #cart table td:nth-child(3) {
        width: 230px;
        text-align: center;
    }

    #cart table td:nth-child(4),
    #cart table td:nth-child(5),
    #cart table td:nth-child(6),
    #cart table td:nth-child(7),
    #cart table td:nth-child(8) {
        width: 150px;
        text-align: center;
    }
</style>

<div class="container">
    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu()"></div>
            <div class="search">
                <label for="">
                    <input type="text" placeholder="Search Here">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
            </div>
            <div class="user">
                <img src="/login-images/avatar2.svg" alt="">
            </div>
        </div>

        <div class="head">
            <h2>Product Details</h2>
        </div>
        <div class="add"><a href="/admin/add-product" class="normal">Add Product</a></div>
        <section id="cart" class="section-p1">
            <table id="productTable" width="100%">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Image</td>
                        <td>product</td>
                        <td>Catagory</td>
                        <td>stock</td>
                        <td>Price</td>
                        <td>options</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>1.</td>
                        <td><img src="/images/product-images/{{this._id}}/0{{this._id}}.jpg" alt=""></td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Category}}</td>
                        <td>{{this.Stoke}}</td>
                        <td>&#8377 {{this.Price}}</td>
                        <td>
                            <a href="/admin/edit-product/{{this._id}}" class=" normal b1 ">Edit</a>
                            <a href="/admin/delete-product/{{this._id}}" class="normal b2 ">Delete</a>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </section>
    </div>
</div>

<script>
    $(function () {
        $('#productTable').DataTable();
    });
</script>


<script>
    function toggleMenu() {
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');
        toggle.classList.toggle('active')
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }
</script>