<link rel="stylesheet" href="/stylesheets/admin-page-style.css">
<link rel="stylesheet" href="/stylesheets/homepagestyle.css">

<style>
    button.normal {
        font-size: 23px;
        font-weight: 500;
        padding: 9px 8px;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        text-decoration: none;
    }
    a.normal {
        font-size: 23px;
        font-weight: 500;
        padding: 9px 8px;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        text-decoration: none;
    }

    button.b1 {
        background-color: rgb(56, 179, 19);
        padding: 9px 20px;
    }

    a.b2 {
        background-color: rgb(238, 18, 18);
    }

    #cart .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .add {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;

            {
                {
                 !-- flex-wrap: nowrap;
                --
            }
        }

            {
                {
                 !-- justify-content: end;
                --
            }
        }
    }

    .add button {
        text-decoration: none;
        background-color: rgb(56, 179, 19);
        color: #000;
    }

    .add .normal {
        padding: 9px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    #cart table tbody tr:hover {
        background: #fff;

            {
                {
                 !-- color: #fff;
                03a9f4--
            }
        }
    }
</style>

<div class="main">
    <div class="topbar">
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="search">
            <label for="">
                <input type="text" placeholder="Search Here">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
        </div>
        <div class="user">
            <img src="/login-images/avatar2.svg" alt="">
        </div>
    </div>


    <section id="cart" class="section-p1">
        <div class="head">
            <h2>Product Details</h2>
        </div>
        <div class="add"><button href="/admin/add-category" class="normal" onclick="addCategory()">Add Product</button></div>
        <table id="productTable" width="100%">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Catagory</td>
                    <td>options</td>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    <td>1.</td>
                    <td>{{this.name}}</td>
                    <td>
                        <button href="/admin/edit-category/{{this._id}}" class=" normal b1 " onclick="editCategory('{{this._id}}')">Edit</button>
                        <a href="/admin/delete-category/{{this._id}}" class="normal b2 ">Delete</a>
                    </td>
                </tr>
                {{/each}}
                

                {{!-- <tr>
                    <td>1.</td>
                    <td><img src="/images/products/n1.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-shirts</td>
                    <td>smartphone</td>
                    <td>2000</td>
                    <td>$118.19</td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class=" normal b1 ">Edit</a>
                        <a href="/admin/delete-product/{{this._id}}" class="normal b2 ">Delete</a>
                    </td>
                </tr>  --}}

            </tbody>
        </table>
    </section>

</div>

<script>
    $(function () {
        $('#productTable').DataTable();
    });

</script>