<link rel="stylesheet" href="/stylesheets/homepagestyle.css">


<link rel="stylesheet" href="/lightbox.min.css">
<script src="lightbox-plus-jquery.min.js"></script>


<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>on all products</h1>
    <p>save more with coupons & up to 70% off!</p>
    <button>shop now</button>
</section>


<section id="product1" class="section-p1">
    <h2>Featured Product</h2>
    <p>summer collection new modern design</p>
    <div class="pro-container">
        {{#each featuredProducts}}
        <div class="pro">
            <img class="a"src="/images/product-images/{{this._id}}/0{{this._id}}.jpg" 
              onclick="window.location.href='/product/{{this._id}}';" alt="">
            <div class="overlay">
                <a href="/images/product-images/{{this._id}}/0{{this._id}}.jpg"  title="Quick shop" data-lightbox="i" data-title="{{this.Name}}"><i class=" fa fa-solid fa-up-right-and-down-left-from-center"></i></a>
                <button title="add to wishlist" onclick="addToWishlist('{{this._id}}')"><i
                            class="fa fa-heart"></i></button>
                {{!-- <a href=""  title="Add to Wishlist"><i class="fa fa-heart"></i></a> --}}
                <button title="add to cart" onclick="addToCart('{{this._id}}')"><i
                            class="fa fa-shopping-bag"></i></button>
                {{!-- <a href=""  title="Add to Cart"><i class="fa fa-shopping-bag"></i></a> --}}
            </div>
            {{!-- <div class="popup-image">
                <span>&times;</span>
                <img class="a" src="/images/product-images/{{this._id}}/0{{this._id}}.jpg" alt="">
            </div> --}}
            <div class="des">
                <span>{{this.brand}}</span>
                <h5>{{this.Name}}</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>&#8377 {{this.Price}}</h4>
            </div>
            {{!-- <a href=""><i class="fal fa-shopping-cart cart"></i></a> --}}
        </div>
        {{/each}}




    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% Off</span>~All t-shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>summer collection new modern design</p>
    <div class="pro-container">
        {{#each newProducts}}
        <div class="pro">
            <img class="a"src="/images/product-images/{{this._id}}/0{{this._id}}.jpg" 
              onclick="window.location.href='/product/{{this._id}}';" alt="">
            <div class="overlay">
                <a href="/images/product-images/{{this._id}}/0{{this._id}}.jpg"  title="Quick shop" data-lightbox="i" data-title="{{this.Name}}"><i class=" fa fa-solid fa-up-right-and-down-left-from-center"></i></a>
                <button title="add to wishlist" onclick="addToWishlist('{{this._id}}')"><i
                            class="fa fa-heart"></i></button>
                {{!-- <a href=""  title="Add to Wishlist"><i class="fa fa-heart"></i></a> --}}
                <button title="add to cart" onclick="addToCart('{{this._id}}')"><i
                            class="fa fa-shopping-bag"></i></button>
                {{!-- <a href=""  title="Add to Cart"><i class="fa fa-shopping-bag"></i></a> --}}
            </div>
            <div class="des">
                <span>{{this.brand}}</span>
                <h5>{{this.Name}}</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>&#8377 {{this.Price}}</h4>
            </div>
        </div>
        {{/each}}




    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="email" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>