<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/invoice.css">
{{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> --}}

<div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
						Hi <strong>{{invoiceDeliveryData.userName}}</strong>, 
						<br>
						This is your order receipt 
                        {{!-- <strong>$312.00</strong> (USD) for your works --}}
					</div>

					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">
								<span>Order No.</span>
								<strong>{{invoiceDeliveryData._id}}</strong>
								<span>Order Date</span>
								<strong>{{invoiceDeliveryData.date}} - {{invoiceDeliveryData.time}} </strong>
                                
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment Method</span>
								<strong>{{invoiceDeliveryData.paymentMethod}}</strong>
								<span>Payment Status</span>
								<strong>Paid</strong>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
								<span>Client</span>
								<strong>
									{{invoiceDeliveryData.deliveryDetails.fullName}}
								</strong>
								<p>
									{{invoiceDeliveryData.deliveryDetails.address}} <br>
									{{invoiceDeliveryData.deliveryDetails.state}} <br>
									{{invoiceDeliveryData.deliveryDetails.city}} <br>
									Mobile : {{invoiceDeliveryData.deliveryDetails.mobile}} <br>
									{{invoiceDeliveryData.deliveryDetails.pincode}} <br>
									{{!-- <a href="#">
										ebinyesudas@gmail.com
									</a> --}}
								</p>
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment To</span>
								<strong>
									Shopping Cart
								</strong>
								<p>
									344 9th Avenue <br>
									San Francisco <br>
									99383 <br>
									USA <br>
									<a href="#">
										shoppingcart@gmail.com
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<div class="row">
                                {{!-- <div class="col-xs-1">No</div> --}}
								<div class="col-xs-4">Products</div>
								<div class="col-xs-3">Quantity</div>
								<div class="col-xs-5 text-right">Amount</div>
							</div>
						</div>
						<div class="items">
							<div class="row item">
								<div class="col-xs-4 desc">
									Html theme
								</div>
								<div class="col-xs-3 qty">
									3
								</div>
								<div class="col-xs-5 amount text-right">
									$60.00
								</div>
							</div>
							<div class="row item">
								<div class="col-xs-4 desc">
									Bootstrap snippet
								</div>
								<div class="col-xs-3 qty">
									1
								</div>
								<div class="col-xs-5 amount text-right">
									$20.00
								</div>
							</div>
							<div class="row item">
								<div class="col-xs-4 desc">
									Snippets on bootdey 
								</div>
								<div class="col-xs-3 qty">
									2
								</div>
								<div class="col-xs-5 amount text-right">
									$18.00
								</div>
							</div>
						</div>
						<div class="total text-right">
							<p class="extra-notes">
								<strong>Extra Notes</strong>
								Please send all items at the same time to shipping address by next week.
								Thanks a lot.
							</p>
							<div class="field">
								Subtotal <span>${{invoiceDeliveryData.subTotal}}</span>
							</div>
							<div class="field">
								Shipping <span>$0.00</span>
							</div>
							<div class="field">
								Discount <span>4.5%</span>
							</div>
							<div class="field grand-total">
								Total <span>$312.00</span>
							</div>
						</div>

						<div class="print">
							<a href="#">
								<i class="fa fa-print"></i>
								Download as PDF
							</a>
						</div>
					</div>
				</div>

				<div class="footer">
					Copyright © 2022. shopping cart
				</div>
			</div>
		</div>
	</div>
</div>    