<section id="page-header" class="about-header">
    <h2>#Let's_talk</h2>
    <p>LEAVE A MESSAGE,We love to hear from you!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/product-images/{{this.product._id}}/0{{this.product._id}}.jpg" alt=""></td>
                <td>{{this.product.Name}}</td>
                <td>${{this.product.Price}}</td>
                <td>
                        <button class="normal b1" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="normal b2" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                </td>
                <td>$118.19</td>
            </tr>
            {{/each}}
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>$ 335</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$ 335</strong></td>
            </tr>
        </table>
        <button class="normal">Proceed to checkout</button>
    </div>
</section>

<script>
    function changeQuantity(cartId,prodId,count){
        let quantity = parseInt(document.getElementById(prodId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId,
                product:prodId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("product removed from cart")
                    location.reload()
                }else{
                    document.getElementById(prodId).innerHTML=quantity+count
                }
            }
        })
    }
</script>