<link rel="stylesheet" href="/stylesheets/homepagestyle.css">

<section id="page-header" class="about-header">
    <h2>#Let's_talk</h2>
    <p>LEAVE A MESSAGE,We love to hear from you!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/product-images/{{this.product._id}}/0{{this.product._id}}.jpg" alt=""></td>
                <td>{{this.product.Name}}</td>
                <td>${{this.product.Price}}</td>
                <td>
                        <button class="normal b1" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1,'1{{this.product._id}}')">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="normal b2" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1,'1{{this.product._id}}')">+</button>
                </td>
                <td><span id="1{{this.product._id}}">{{totalPrice}}</span></td>
            </tr>
            {{/each}}
            {{!-- <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr> --}}
            {{!-- <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr> --}}
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon" name="name"  id="couponCode">
            <button class="normal" onclick="applyCoupon()">Apply</button>
            
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>$ <span id="value">{{totalValue}}</span></td>
            </tr>
            <tr>
                <td>Coupon</td>
                <td> <span id="displayCoupon" >empty</span></td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$ <span id="total">{{totalValue}}</span></strong></td>
            </tr>
        </table>
        <a id="check" href="/checkout"  class="normal">Proceed to checkout</a>
    </div>
</section>

<script>
    function changeQuantity(cartId,prodId,userId,count,subId){
        console.log("subId : ",subId)
        let quantity = parseInt(document.getElementById(prodId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:prodId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("product removed from cart")
                    location.reload()
                }else{
                    document.getElementById(prodId).innerHTML=quantity+count
                    document.getElementById('value').innerHTML=response.total
                    document.getElementById(subId).innerHTML=response.subTotal


                    document.getElementById('total').innerHTML=response.total
                document.getElementById('check').href ='/checkout'
                document.getElementById('displayCoupon').innerHTML="empty"
                }
            }
        })
    }

    function applyCoupon(){
        let coupon = document.getElementById('couponCode').value;
        $.ajax({
            url:'/apply-coupon',
            method:'post',
            data:{
                couponCode:coupon
            },
            success:(response)=>{
                document.getElementById('total').innerHTML=response.total
                document.getElementById('check').href ='/checkout/'+response.total
                document.getElementById('displayCoupon').innerHTML=response.name
            }
        })
    }
</script>