<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/profile-page-style.css">

<div class="update-profile">
    <form action="" method="post" enctype="multipart/form-data">
      <img src="/images/users-dp/{{userDetails._id}}.jpg" alt="">
        <div class="flex">
            <div class="inputBox">
                <span>Username :</span>
                <input type="text" name="" value="{{userDetails.Username}}" class="box" disabled>
                <span>Full Name :</span>
                <input type="text" name="" value="{{userDetails.Name}}" class="box" disabled>
                <span>Email Address :</span>
                <input type="email" name="" value="{{userDetails.Email}}" class="box" disabled>
                <span>Mobile No :</span>
                <input type="number" name="" value="{{userDetails.Mobile}}" class="box" disabled>
            </div>
            <div class="inputBox">
                {{!-- <input type="hidden" name="" id=""> --}}
                <span>Address :</span>
                <input type="text" name="" value="{{userDetails.Address}}" class="box" disabled>
                <span>State :</span>
                <input type="text" name="" value="{{userDetails.State}}" class="box" disabled>
                <span>District :</span>
                <input type="text" name="" value="{{userDetails.District}}" class="box" disabled>
                <span>Pin Code :</span>
                <input type="number" name="" value="{{userDetails.Pincode}}" class="box" disabled>
                
            </div>
        </div>
        {{!-- <input type="submit" value="edit Profile" class="btn"> --}}
        <a href="/edit-profile" class="btn">Edit Profile</a>
        <a href="/change-password" class="delete-btn">Change Password</a>
    </form>
</div>