<section>

    {{!-- Single-product page style --}}
    <style>
        .container {
            width: 100%;
        }

        section div h2 {
            display: flex;
            justify-content: flex-start;
        }

        .wrapper {
            width: 90%;
            height: 100vh;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .text {
            flex-basis: 45%;
        }

        .product-box {
            width: 50%;
        }

        .all-images {
            height: 80vh;
            display: flex;
        }

        .small-images {
            display: flex;
            flex-direction: column;
        }

        .small-images img {
            height: 19vh;
            margin-bottom: 9px;
            cursor: pointer;
            opacity: 0.6;
        }

        .small-images img:hover {
            opacity: 1;
        }

        .main-images img {
    height: 90%;
    max-width: 100%;
    object-fit: fill;
}

        p {
            margin-bottom: 4px;
            margin: 0 0 0 0;
            margin: 10px 0;
        }

        .brand {
            background-color: #008000;
            width: fit-content;
            color: #fff;
            font-size: 12px;
            padding: 2px 5px;
        }

        h2 {
            font-size: 32px;
            color: #555;
            margin: 10px 0;
        }

        .review {
            background-color: #008000;
            display: inline-block;
            color: #fff;
            padding: 4px;
            border-radius: 5px;
            font-size: 15px;
        }

        .review .fa {
            color: #fff;
        }

        .price {
            color: rgb(29, 28, 28);
            font-size: 26px;
            font-weight: bold;
            padding-top: 10px;
            padding-right: 10px;
        }

        .price-box {
            display: flex;
            align-items: center;
        }

        input {
            width: 30px;
            border: 1px solid #ccc;
            text-align: center;
            padding-top: 5px;
            outline-style: none;
        }

        button {
            width: 155px;
            color: #fff;
            font-size: 15px;
            outline: none;
            border: 0;
            border-radius: 5px;
            background-color: #fe980f;
            padding: 10px 15px;
            margin: 10px 0;
            box-sizing: border-box;
            cursor: pointer;
        }

        button .fa {
            margin-right: 10px;
        }

        .buy {
            background-color: rgb(201, 97, 57);
        }

        .product-details {
            padding: 3px 0;
        }

        .product-details h4 {
            padding: 12px 0;
        }

        .product-details li {
            font-family: sans-serif;
            font-size: 16px;
            padding: 5px 0;
            line-height: 20px;
        }

        /* Start media query */

        @media only screen and (max-width:1200px) {
            .wrapper {
                flex-direction: column;
                height: auto;
                padding: 5% 0;
            }

            .text {
                padding-top: 50px;
            }
        }

        @media only screen and (max-width:912px) {

            .all-images {
                flex-direction: column;
                height: auto;
            }

            .small-images {
                flex-direction: row;
                justify-content: space-evenly;
                order: 1;
            }

            .product-box {
                width: 100%;
            }

            .main-images img {
                width: 100%;
            }

            .small-images img {
                width: 25%;
            }

            h2 {
                font-size: 25px;
            }
        }
    </style>
    <div class="container">
        <div class="wrapper">
            <div class="product-box">
                <div class="all-images">
                    <div class="small-images">
                        <img src="/images/product-images/{{product._id}}/0{{product._id}}.jpg" onclick="clickimg(this)">
                        <img src="/images/product-images/{{product._id}}/1{{product._id}}.jpg" onclick="clickimg(this)">
                        <img src="/images/product-images/{{product._id}}/2{{product._id}}.jpg" onclick="clickimg(this)">
                        <img src="/images/product-images/{{product._id}}/3{{product._id}}.jpg" onclick="clickimg(this)">
                    </div>
                    <div class="main-images">
                        <img src="/images/product-images/{{product._id}}/0{{product._id}}.jpg" id="imagebox">
                    </div>
                </div>
            </div>

            <div class="text">
                <div class="content">
                    <p class="brand">Brand : {{product.brand}}</p>
                    <h2>{{product.Name}}</h2>
                    <div class="review">
                        <span>(4.6)</span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price-box">
                        <p class="price">&#8377; {{product.Price}}</p>
                        <strike>&#8377; 89000</strike>
                    </div>
                    {{!-- <p>Size : <select name="size">
                            <option value="select color">select color</option>
                            <option value="black">black</option>
                        </select></p> --}}
                    {{!-- <p>quantity <input type="text" value="1"></p> --}}
                    <button onclick="addToCart('{{product._id}}')">
                        <span class="fa fa-shopping-cart"></span>
                        Add to Cart
                    </button>
                    <button class="buy" onclick="buyNow('{{product._id}}')">
                        <span class="fa fa-shopping-cart"></span>
                        Buy now
                    </button>




                </div>

                <div class="product-details">
                    <h4>About this item</h4>
                    <ul>
                        <li><span>{{product.Description1}}</span></li>
                        <li><span>{{product.Description2}}</span></li>
                        <li><span>{{product.Description3}}</span></li>
                        <li><span>{{product.Description4}}</span></li>
                        <li><span>{{product.Description5}}</span></li>
                    </ul>
                </div>
            </div>




        </div>
    </div>
</section>


<section id="product1" class="section-p1">
    <h2>Featured Product</h2>
    <p>summer collection new modern design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="/images/products/adidas.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>


        <div class="pro">
            <img src="/images/products/adidas.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/adidas.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/adidas.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>





    </div>
</section>




<script>
    function clickimg(smallimg) {
        var fullimg = document.getElementById('imagebox');
        fullimg.src = smallimg.src
    }
</script>

<script>
    function buyNow(prodId) {
        $.ajax({
            url: '/buysingleproduct',
            data: {
                prodId: prodId,

            },
            method: 'post',
            success: (response) => {
                if (response.productNotFount) {
                    $.ajax({
                        url: '/add-to-cart/' + prodId,
                        method: 'get',
                        success: (response) => {
                            //alert(response)
                            if (response.cartAdded) {
                                let count = $('#cart_count').html()
                                console.log("count", count)
                                count = parseInt(count) + 1
                                $("#cart_count").html(count)
                                location.href = '/cart'
                            }
                        }
                    })
                }else{
                    location.href = '/cart'
                }
            }
        })
    }
</script>