<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/filter.css">



<section id="page-header">
    <h2>#Stayhome</h2>
    <p>save more with coupons & up to 70% off!</p>
</section>

<section id="product1" class="section-p1">
    <input  class="search" type="search" name="Search" placeholder="Search" id="searchContent">
    <button type="submit" class="normal searchbtn" onclick="searchProduct()">Search</button>
    <form id="productfilter">
    <div class="pro-container">
        
        
            <div class="outer">
                <h2>
                  shop by genre
                </h2>
                <div class="genre">
                    <input type="checkbox" name="catagoryName" value="" hidden checked>
                    <div class="check">
                        <input type="checkbox" name="catagoryName" value="smartpnones">
                        <label for="">Smart Phones</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="catagoryName" value="smartwatches">
                        <label for="">Smart Watches</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="catagoryName" value="laptop">
                        <label for="">Laptop</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="catagoryName" value="tab">
                        <label for="">Tab</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="catagoryName" value="smarttv">
                        <label for="">Smart TV</label>
                    </div>
                </div>
            </div>
            <div class="outer">
                <h2>
                  shop by brand
                </h2>
                <div class="genre">
                    <input type="checkbox" name="brandName" value="" hidden checked>
                    <div class="check">
                        <input type="checkbox" name="brandName" value="oneplus">
                        <label for="">oneplus</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="brandName" value="motorla">
                        <label for="">motorla</label>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                        <label for="">redmi</label>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                        <label for="">Tab</label>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                        <label for="">Smart TV</label>
                    </div>
                </div>
            </div>
            <div class="outer">
                <h2>
                  shop by genre
                </h2>
                <div class="genre">
                     <input type="radio" name="price" value="50000000000" hidden checked>
                    <div class="check">
                        <input type="radio" name="price" value="500">
                        <label for="">under rs.500</label>
                    </div>
                    <div class="check">
                        <input type="radio" name="price" value="1000">
                        <label for="">under rs.1000</label>
                    </div>
                    <div class="check">
                        <input type="radio" name="price" value="2000">
                        <label for="">under rs.2000</label>
                    </div>
                    {{!-- <div class="check">
                        <input type="radio">
                        <label for="">under rs.1000</label>
                    </div>
                    <div class="check">
                        <input type="radio">
                        <label for="">under rs.10000</label>
                    </div>
                    <div class="check">
                        <input type="radio">
                        <label for="">under rs.100000</label>
                    </div> --}}
                    
                </div>
            </div>
      
           
        
        {{#each products}}
        <div class="pro">
            <img src="/images/product-images/{{this._id}}/0{{this._id}}.jpg"
                onclick="window.location.href='/product/{{this._id}}';">
            <div class="overlay">
                {{!-- <a href="" title="Quick shop"><i
                        class=" fa fa-solid fa-up-right-and-down-left-from-center"></i></a> --}}
                <button><i class=" fa fa-solid fa-up-right-and-down-left-from-center"></i></button>
                <button title="add to wishlist" onclick="addToWishlist('{{this._id}}')"><i
                        class="fa fa-heart"></i></button>
                {{!-- <a href="" title="Add to Wishlist"><i class="fa fa-heart"></i></a> --}}
                <button title="add to cart" onclick="addToCart('{{this._id}}')"><i
                        class="fa fa-shopping-bag"></i></button>
                {{!-- <a href="/add-to-cart/{{this._id}}" title="Add to Cart"><i class="fa fa-shopping-bag"></i></a>
                --}}
            </div>
            <div class="des">
                <span>{{this.brand}}</span>
                <h5>{{this.Name}}</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>${{this.Price}}</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        {{/each}}

        


        <div class="pro">
            <img src="/images/products/new/m2.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/new/m3.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/new/m4.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/new/m5.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/new/6.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/new/7.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/new/8.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>





        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>


        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/products/shoe.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href=""><i class="fal fa-shopping-cart cart"></i></a>
        </div>


    </div>
    </form>
</section>


<section id="pagination" class="section-p1">
    <a href="">1</a>
    <a href="">2</a>
    <a href=""><i class="fal fa-long-arrow-alt-right"></i></a>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="email" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<script>
    $('input[name=catagoryName]').change(function(){
        $.ajax({
            url:'/product-filter',
            data:$('#productfilter').serialize(),
            method:'post'
        })
    })

    $('input[name=brandName]').change(function(){
        $.ajax({
            url:'/product-filter',
            data:$('#productfilter').serialize(),
            method:'post'
        })
    })

    $('input[name=price]').change(function(){
        $.ajax({
            url:'/product-filter',
            data:$('#productfilter').serialize(),
            method:'post'
        })
    })
</script>


<script>
    function searchProduct(){
         let search = document.getElementById('searchContent').value;
         $.ajax({
            url:'/search-product',
            data:{
                result:search
            },
            method:'post',
            success:((response)=>{
                location.href='/shope'
            })
         })
    }
</script>